.component.create-playlist-modal {
  border: 1px solid white;
  background: black;
  color: white;
}

.component.create-playlist-modal button {
  background: black;
  color: white;
}

.component.create-playlist-modal button:hover {
  background: white;
  color: black;
}
