.component.track {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 3% 3% 3%;
  max-width: 199px;

}

.component.track:hover {
  filter: brightness(1.5);
}

.component.track .track-image {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.component.track .track-image img {
  width: 199px;
  height: 199px;
}

.component.track .track-info {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 3%;
}

.component.track .track-action {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 3%;
}

.component.track .track-action button {
  margin: 0 0 5% 0;
  padding: 2%;
  border-radius: 10px;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.component.track .track-action button:hover {
  background: white;
  color: black;
}
