.page.register {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.page.register h2 {
  margin: 0 0 3% 0;
}

.page.register form div {
  margin: 0 0 3% 0;
}

.page.register form button {
  margin: 3% 0 0 0;
}

.page.register p {
  margin: 3% 0 0 0;
}

.page.register p a:hover {
  text-decoration: underline;
}
