.page.login {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.page.login h2 {
  margin: 0 0 3% 0;
}

.page.login form div {
  margin: 0 0 3% 0;
}

.page.login form button {
  margin: 3% 0 0 0;
}

.page.login p {
  margin: 3% 0 0 0;
}

.page.login p a:hover {
  text-decoration: underline;
}
