.page.home {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.page.home .page-name {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 3% 0;
}

.page.home .search {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 0 3% 0;
}

.page.home .videos {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.page.home .videos .card {
  margin: 1% 1% 1% 1%;
}

.page.home .videos .card:hover {
  cursor: pointer;
}

