.song {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 3% 3% 3%;
    cursor: pointer;
    max-width: 199px;

}

.song:hover {
    filter: brightness(1.5);
}

.song .song-image {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.song .song-image img {
    width: 100%;
    height: auto;
}

.song .song-info {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3%;
}
