.content {
    display: flex;
    flex: 1 1 75%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000000;
}

.content .section {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content .section .title {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
    width: 100%;
    height: auto;
    margin: 0 0 1% 0;
}

.content .section .song-list {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 5%;
}
