* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

#root {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5% 0;
}

.page {
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  width: 100%;
}

.component {
  display: flex;
  flex: 1 1 auto;
}
